.homepage-container {
    padding-top: 120px;
}

.homepage-notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 150px 30px;
    background-color: white;
    border: 2px solid #888888;
    border-radius: 8px;   
}

.welcome {
    font-size: 45px;
    margin: 0 20px;
    -webkit-text-stroke: 0.3px black;
    color: rgba(128, 0, 32,0.7);
}

.guidance {
    font-size: 30px;
    margin: 0 20px;
}

.guidance-link {
    text-decoration: none;
    color: rgba(128, 0, 32,0.7);
}

.guidance-link:hover {
    color: rgb(228, 196, 18);
    -webkit-text-stroke: 0.3px black;
}



@media (max-width: 860px) {
    .homepage-container {
        padding-top: 220px;
    }
    .welcome {
        padding-left: 20px;
    }
    .guidance {
        padding-left: 20px;
    }
}