@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #d0d1d3;
}

button , input, select, textarea {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}