.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 350px;
    height: 200px;
    background-color: white;
    border: 2px solid #800020;
    border-radius: 12px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.card:hover {
    background-color: rgb(226, 225, 225);
    width: 380px;
    height: 220px;
}

.task-info {
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
}

.task-info span {
    color: #800020;
    padding-left: 20px;
}

#task-id {
  border: 2px solid #800020;   
  padding: 5px 10px;         
  border-radius: 50%;
  margin-right: 15px;
}