.filters {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 30px;
    background-color: rgba(128, 0, 32,0.8);
    border: 2px solid black;
    border-radius: 10px;
}

.filters hr {
    border: none;
    height: 4px;
    background-color: white;
    margin: 5px 0;    
}

.filters-title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 36px;
    color: white;
    -webkit-text-stroke: 0.5px black
}

.filter-fields {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    color: white;
    -webkit-text-stroke: 0.5px black    
}

.filter-fields p {
    margin-left: 10px;
}

.filters button {
    font-size: 18px;
    padding: 15px 25px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px;
    transition: 0.4s;
}

.filters button:hover {
    cursor: pointer;
    background-color: aqua;
}

@media (max-width: 1100px) {
    .filters {
        max-width: 730px;
        height: 500px;
        gap: 10px;
    }
}

@media (max-width: 940px) {
    .filters {
        width: 350px;
        height: 1000px;
        gap: 10px;
    }
    .filter-buttons {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .filter-buttons button {
        width: 150px;
        transition: none;
    }

}