
.alltasks-page {
    padding-top: 220px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    gap: 120px;
    margin-bottom: 50px;
}

.tasks-container {
    display: flex;
    max-width:1150px;
    flex-wrap: wrap;
    gap: 30px;
}

@media (max-width: 1670px) {
    .alltasks-page {
        gap: 10px;
    }
}

@media (max-width: 1100px) {
    .alltasks-page {
        flex-direction: column-reverse;
    }
}